<template>
    <div class="{{ properCase name }}">
      {{properCase name}}组件
    </div>
</template>


<script lang="ts" setup>
            
</script>  

<style lang="scss">
    .{{ properCase name }}{

    }
</style>